.bord{
	padding-bottom: 20px;
	border: 1px solid;
	margin-bottom: 10px;
	margin-top: 40px;
}

#logo{
	text-align: center;
	font-family: cursive;
	font-size: 2em;

	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}